@{
    ViewBag.Title = "Index";
}

<div class="center">
    <h2>Manager</h2>

    <p>↓ Click en 'Grain' ↓</p>
    
    <a class="btn btn-default no-decoration" href="Grain/CreateABunch">Grain</a>

    <hr class="hr-center" />

    <p>Si no hay datos en la BBDD, se crearan para el uso del sistema</p>
</div>

