@model IEnumerable<nhibernate_demo.Models.Company>

@{
    ViewBag.Title = "Companies";
}

<div class="center">
    <h2>Companies</h2>
    <div class="scroll">
        <table class="table-center">
            <tr>

                <th>
                    Name
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>

    <hr class="hr-center" />

    <p>
        <a class="btn btn-default no-decoration" href="/Company/Create">Create New</a>
    </p>

</div>

